* {
  border: 1px solid black;
}

.bodyContain {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}


#header {
  height: 5rem;
  width: 70%;
  display: flex;
  position: fixed;
  top: 6rem;
  right: 0;

}


.bodyItems {
  height: 100vh;
  width: 100%;
}


.footer-container {
  height: 10vh;
  width: 100%;
}





.galleryContainer {
  border: 4px solid black;
  display: flex;
  width: 100%;


  .galleryImageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1 1 40%;
  }

  .galleryControls {
    height: 100%;
    width: 30%;
    display: block;
  }
}


.renderImageContainers {
  display: block;
  width: 200px;
  height: 200px;
  color: transparent;
  transition: all 0.5s ease;
  opacity: 0; 

  .renderImages {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;

    &.image-available {
    opacity: 1;
    }

    &.no-image-available,
    &.image-loading {
      transition: all 0s ease;
      opacity: 0;
    }
  }


  &.image-available {
    opacity: 1;
  }

  &.no-image-available {
    opacity: 0;
  }

}